@font-face {
    font-family: 'wotfardregular';
    src: url('./fonts/wotfard-regular-webfont.eot');
    src: url('./fonts/wotfard-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/wotfard-regular-webfont.woff2') format('woff2'),
         url('./fonts/wotfard-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
:root {
    --resin-black: #272635;
    --non-photo-blue: #b1e5f2;
    --french-gray: #a6a6a8;
    --silver: #cecece;
    --ghost-white: #e8e9f3;

}
::selection {
    background: var(--silver);
    color: var(--resin-black);
}
* {
    background-color: var(--resin-black);
}
.navlist {
    font-family: 'wotfardregular', sans-serif !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 20px;
    padding-right: 40px;
}
.navlist li {
    list-style: none;
    align-self: center;
    justify-content: center;
}
.navlist #name {
    font-size: 28px;
    margin-right: auto;
}
a {
    text-decoration: none;
    color: var(--ghost-white);
    font-size: 20px;
    display: flex;
    justify-content: center;
    transition: color 0.3s ease-in-out;
}
a:hover {
    color: var(--silver);
}
#linkedin-icon {
    margin-left: 40px;
}
.icon {
    transition: transform 0.3s ease-in-out;
    transform: none;
}
.icon:hover {
    transform: scale(90%);
}
.main-container {
    display: flex;
    flex-direction: column;
}
canvas {
    width: 100%;
    height: 1200px;
    z-index: 0;
    flex: 1;
    position: relative;
}
.hero {
    display: flex;
    justify-content: center;
}
.home {
    color: var(--ghost-white);
    font-family: 'wotfardregular', sans-serif !important;
    display: flex;
    justify-content: center;
    height: 1300px;
}
.heading {
    font-size: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    margin-top: 20%;
}
.heading__line-2 {
    font-size: 48px;
}
.dev-name {
    color: var(--non-photo-blue);
}
.projects-button {
    border: 2px solid var(--non-photo-blue);
    margin-top: 10px;
    padding: 6px;
    color: var(--non-photo-blue);
}
.down-arrow {
    align-self: center;
    margin-left: 4px;
}
.about {
    color: var(--ghost-white);
    font-family: 'wotfardregular', sans-serif !important;
    font-size: 24px;
    display: flex;
    justify-content: center;
    height: 1300px;
}
.background__canvas {
    position: fixed;
    padding: 0px;
    margin: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    max-width: 100%;
    height: 100%;
    z-index: -1;
}
.about__info {
    margin-top: 30px;
    display: flex;
    flex-flow: column;
    width: 400px;
    height: 900px;
    gap: 20px;
    flex: 1;    
}
.about-me {
    align-self: center;
    font-size: 48px;
    flex-grow: 2;
}
.left-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.crop-image {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover;
}
#my-image {
    background-image: url("./images/my-picture.jpeg");
    border: 4px solid var(--french-gray);
}
.about-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 40px;
}
.about-text {
    align-self: center;
    flex-grow: 2;
    flex-shrink: 1;
}
.about-languages {
    flex-grow: 1;
}
.projects {
    color: var(--ghost-white);
    font-family: 'wotfardregular', sans-serif !important;
    display: flex;
    justify-content: center;
    height: 4400px;
}
.projects__info {
    margin-top: 30px;
    position: absolute;
}
.projects-me {
    align-self: center;
    font-size: 48px;
    flex-grow: 2;
}